body{
	position: relative;
	padding: 0px 3px;
	margin: 0px;
	font-family: nunito;
}

button{
	cursor: pointer;
	outline: none;
	padding: 15px 20px;
	border-radius: 3px;
	border: none;
	box-shadow: 5px 5px 2px rgba(0,0,0,.08);
	background:  #ff5555;
	width: 50%;
	margin: 8px auto;
	display: flex;
	justify-content: center;
	color: #fff;
	text-align: center;
	transition: .8s;
	font-size: 18px;
}
button:hover{
	box-shadow: none;
	transition: .8s;
}
input{
	outline: none;
	-webkit-appearance: none !important;
	height: 40px;
	padding: 10px;
	font-size: 16px;
	align-self: center;
	flex: 1;
	box-sizing: border-box;
	border: none !important;
	min-width: 80px;
	color: #aaa;
}
input:focus{
	background: #fff !important;
}

.container{
	margin: 10% auto;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0px 10px 30px rgba(0,0,0,.08)
}
.container > *{
	border: 1px solid #ddd;
	padding: 20px;
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0px 0px 30px rgba(0,0,0,.03)
}
.container > *:first-child,
.container > *:last-child{
	background: #f2f2f2;
}
.container > *:first-child{
	border-bottom: none;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}
.container > *:last-child{
	border-top: none;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.container .intro{
	padding-top: 5px;
	text-align: center;
	font-size: 14px;
}
.container .intro h2,
h3{
	margin: 3px 0px;
}
.container a{
	padding: 5px 8px;
	border-radius: 10px;
	color: #222;
	font-size: 14px;
}
.container .message{
	width: 100%;
	padding: 10px;
	text-align: center;
	border-bottom: none;
	color: #ff5555;
	text-transform: capitalize; 
	transform: scale(1);
	display: block;
	transition: .3s ease-out;
}
.container .message.hidden{
	transform: scale(0);
	display: none;
	transition: .3s ease-out;
}
.container .archive{
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto !important;
	height: auto;
	padding: 3px;
	border: 1.2px solid #ddd;
	background: #fff;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	min-height: 40px;
}
.container .archive .label{
	background: #f2f2f2;
	color: #222;
	font-size: 16px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 5px 8px;
	border-radius: 3px;
	border:1px solid #ddd;
	font-size: 12px;
	text-align: center;
	margin: 3px;
	animation: .3s tada ease-out;
}
.container .archive .label .delete-tag{
	margin-left: 5px;
	font-size: 18px;
	cursor: pointer;
	font-weight: 800;
}
.container .archive .label #delete-tag:hover{
	color: #000;
}
@keyframes tada{
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
